{% extends 'base.html' %}

{% block page_title %}
  Home
{% endblock %}

{% block linkedin_link %}{{social_data.linkedinLink}}{% endblock %}

{% block github_link %}{{social_data.githubLink}}{% endblock %}

{% block navbar %}

    <!-- Navbar -->
    
    <header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="ml-3 text-xl">Akshat Srivastava</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" style="pointer-events: none;cursor: default;color:blue;">Home</a>
      <a class="mr-5 hover:text-gray-900" href="/about">About Me</a>
      <a class="mr-5 hover:text-gray-900" href="/projects">My Projects</a>
      <a class="mr-5 hover:text-gray-900" href="/contact">Contact Me</a>
    </nav>
  </div>
</header>

<!-- Navbar Ends -->

{% endblock %}

{% block home_hero_section %}

 <!-- Header Section -->

<section class=" pt-5 text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">{{ tag_data.title }}</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">{{ tag_data.text }}</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
            <path d="M22 12h-1l-10 8L8 2l-5 10H3"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{top_skills.skillName1Title}}</h2>
          <p class="leading-relaxed text-base">{{top_skills.skillName1Description}}</p>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M50 3L4.13 25.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{top_skills.skillName2Title}}</h2>
          <p class="leading-relaxed text-base">{{top_skills.skillName2Description}}</p>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{top_skills.skillName3Title}}</h2>
          <p class="leading-relaxed text-base">{{top_skills.skillName3Description}}</p>
        </div>
      </div>
    </div>
    <center><a href="/about" class="inline-flex mx-2 mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Read More</a></center>
  </div>
</section>

 <!-- Header Section Ends -->

{% endblock %}

{% block home_gallery %}

<!-- Image Gallery -->

<section class="text-gray-600 body-font">
  <div class="container px-5 py-18 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Image Gallery</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">A picture is worth a thousand words.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      {% for data in image_data %}
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="media/{{data.imageUrl}}">
          <div class="px-8 py-10 flex flex-col z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">{{data.imageTitle}}</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{data.imageSubtitle}}</h1>
            <p class="leading-relaxed flex flex-col">{{data.imageText}}</p>
            <center><a class="inline-flex mx-2 mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" href="media/{{data.imageUrl}}" target="_blank">View Full Image</a></center>
          </div>
        </div>
      </div>   
      {% endfor %}   
    </div>    
  </div>
</section> 

<!-- Image Gallery Ends -->

{% endblock %}
